:root{
    --black:#000;
    --colorshadow:rgba(73, 121, 255, 0.418);
    --colorcirculo:#00ff15;
    --colorcirculoyape:#4f0052;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}
nav{
    display: grid;
    padding: 0% 10%;
    height: 70px;
    box-shadow: 1px 4px 20px var(--colorshadow);
    grid-template-columns: 1fr 2fr;
}
.checked, #check{
    display: none;
}
#checkyape{
    display: none;
}
.container_one{
    display: flex;
    align-items: center;
}
.container_two{
    display: flex;
}
.btn_empezar{
    padding: 7px 35px;
    background-color: black;
    border-radius: 4px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav_menu{
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: end;
}
a{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#menu{
    color: black;
}
.Logo{
    width: 50px;
}
.OpenModal{
    padding:5% 5%;
}
.Container_Car{
    display: grid;
    gap: 10px;
    border-radius: 12px;
    padding: 5%;
    
    border: 1px solid rgb(204, 204, 204);
    grid-template-columns: 1fr 1fr;
}
section{
    display: grid;
    gap: 20px;
    background-color: transparent;
    padding: 10% 5%;
}
.closee{
    position: absolute;
    right: 10%;
    top: 5%;
    font-size: 30px;
    color: white;
}
.yape{
    width: 50%;
    margin-top: -80px;
}
.float_yape{
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Fijar el modal a la ventana */
    z-index: 1; /* Colocar el modal encima de otros elementos */
    left: 0;
    bottom: 0vh;
    width: 100%;
    z-index: 3;
    border-radius: 12px 12px 0px 0px;
    height: 45%;
    box-shadow: 1px 1px 10px black;
/* Habilitar el scroll si el contenido es muy grande */
    background-color: rgb(95, 0, 104); /* Fondo semitransparente */
}
.container_yape{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#yapeQrConainer{
    position: fixed;
    bottom: 0%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 5;
    background-color: white;
    border-radius: 12px 12px 0px 0px;
    border-top: 1px solid rgb(214, 214, 214);
}
#QR{
    font-size: 35px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
}
.container_auto_one{
    padding: 5%;
    background-color:rgb(255, 255, 255);
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 12px;
    border-top: 1px solid rgb(224, 224, 224);
}
@media (max-width:768px){
    #check:checked + .nav_menu{
        background-color:var(--colorcirculo);
        clip-path:   circle(100% at center);
    }
    #checkyape:checked + .float_yape{
        background-color:var(--colorcirculoyape);
        z-index: 3;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .float_yape{
        position: fixed;
        left: 0px;
        
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-top: 10%;
        margin-top: 68px;
        background-color:var(--colorcirculoyape);
        height: 40%;
        z-index: -4;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        transition: clip-path 1s ease-in-out;
    }
    .checked{
        display: block;
    }
    .bx{
        font-size: 30px;
    }
    .checked{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    a::after{
        content: "";
        height: 3px;
        width: 40vh;
        display: block;
        background-color: #000;
        margin-top: 3px;
    }
    .nav_menu{
        position: fixed;
        left: 0px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-top: 10%;
        margin-top: 68px;
        background-color:var(--colorcirculo);
        height: 100%;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }
    .btn_empezar{
        width: 40vh;
    }
}
.pagado-verde {
    background-color: #C6F4D6; /* verde claro */
    padding: 5px;
    border-radius: 5px;
  }
  .pagado{
    width: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .pagado-rojo {
    background-color: #F7C6C6; /* rojo claro */
    padding: 5px;
    border-radius: 5px;
  }
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Fijar el modal a la ventana */
    z-index: 1; /* Colocar el modal encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilitar el scroll si el contenido es muy grande */
    background-color: rgba(0,0,0,0.4); /* Fondo semitransparente */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;  
  }
  
  .close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight:bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
